* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    display: flex;
    width: 80%;
    height: 80%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}


.form-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 10px 0 0 10px;
}

.form-box {
    width: 80%;
    max-width: 400px;
    text-align: center;
}

.logo {
    font-size: 40px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
}

p {
    margin-bottom: 20px;
    color: #666;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.sign-up-btn {
    padding: 15px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    cursor: pointer;
}

.google-btn {
    padding: 15px;
    background-color: white;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.google-btn img {
    margin-right: 10px;
}

.login-link {
    margin-top: 15px;
    color: #999;
}

.login-link a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}


.imgs-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 0 10px 10px 0;
}

.imgs-section img {
    width: 80%;
    max-width: 300px;
}
